// Файл обнуляющих стилей
@import "_nullstyle";

//Шрифты======================================================================================================
//&display=swap&subset=cyrillic-ext
@import "_fonts";

.wrapper {
    min-width: 100%;
    min-height: 100vh;
    background-color: #DFE5E8;
}
.main-field {
    width: 70%;
    margin: 0 auto;
    &__tabs {}
    &__input {
        background-color: #E8E3D3;
        border-radius: 35px;
    }
}
.tabs-field {
    &__wrapper {}
    &__item {}
    &__close-tab {}
}
.main {
    &__input {}
}
